
<div class="text-center">
    <h1 class="display-4">Soy Juan</h1>
    <h2>Soy un desarrrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img id="foto"
         src="~/Imgs/foto.jpg" alt="foto de Felipe" />
</div>


<div class="text-center">
    <img id="imagen-dotnet" src="~/Imgs/foto2.png" alt="Logo dotnet" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a este portal.</h1>
        <p>
            Desarrollo, implementación y mantenimiento de soluciones de software orientadas a satisfacer las necesidades del usuario y optimizar procesos. Incluye el análisis de requerimientos, diseño de sistemas, programación, pruebas, documentación y mejora continua de aplicaciones. Se trabaja con diferentes lenguajes de programación, herramientas tecnológicas y metodologías ágiles para garantizar productos eficientes, seguros y de alta calidad.
        </p>
    </div>
    
</div>