@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Juan Felipe España Arias</h1>
    <h2>Soy un desarrrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img
    id="foto"    
    src="~/Imgs/foto.jpg" alt="foto de Felipe"/>
</div>
